<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gentrio.runscript">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <activity
                android:theme="@style/Theme.AppCompat.Translucent"
                android:name=".SettingActivity"/>
        <service android:name=".SocketService">
            <intent-filter>
                <data android:scheme="gentrio"
                      android:host="runscript"/>
            </intent-filter>
        </service>
    </application>
</manifest>
